* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: 	rgb(210, 4, 45,.55);
    /* border: 2px solid red; */
    align-items: center;
    margin-top: 20px;
    margin-left:20px ;
    margin-right:20px ;
    /* width: 500px; */
    box-shadow: 3px 5px  rgb(71, 66, 66);
}

.rightSection{
    width: 20%;
    height: 40px;
}
.leftSection {
    position: relative;
    right: 100px;
height: 100px;
display: flex;
align-items: center;
cursor: pointer;
}
.leftSection h1{
  font-size: 50px;
}
.sections{
    display: flex;
    justify-content: space-between;
}
.rightSection ul {
    display: flex;
    list-style: none;
}

.rightSection ul li {
    
    display: flex;
    list-style: none;
    margin: 0px 30px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    /* justify-content: ; */
}
.rightSection ul li:hover{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 32px;
    position: relative;
    color: white;
    font-weight: bold;
    border: 2px dashed black;
}

main{
    /* border: 2px solid red; */
    height: 755px;
    margin-top: 18px;
   

.container {
    background-image: url(bg1.jpg);
    height: 836px;
    opacity: 0.8;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.container1 {
    /* display: flex; */
    height: 500px;
    width: 800px;
    margin-left: 350px;
    border-left: 5px solid rgb(236, 185, 95);
    border-bottom: 5px solid rgb(236, 185, 95);
    background-color: black;
    background-image: url(bg4.jpg);
    opacity: 0.9;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 10px 10px 5px black;
}

.container2 {
    border-right: 5px solid rgb(236, 185, 95);
    border-bottom: 5px solid rgb(236, 185, 95);
    background-color: black;
    height: 500px;
    width: 500px;
    background-image: url(comp5.png);
    color: transparent;
    background-color: transparent;
    opacity: 0.8;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 10px 10px black;


}

.container.img {
    size: 30px;
}

.username {
    /* border: 3px solid black; */
    margin-left: 180px;
    margin-top: 116px;
    width: 300px;
    height: 100px;

}

.line1 {
    font-size: 70px;
    color: black;
    list-style: none;
}

.line2 {
    font-size: 50px;
    width: 400px;
    color: rgb(139, 28, 0);
    list-style: none;
    margin-left: 70px;
}

.email {
    /* border: 3px solid black; */
    width: 600px;
    height: 200px;
    margin-left: 177px;
    margin-top: 80px;
    font-size: 40px;
    list-style: none;

}

.email1 {
    list-style: none;
}

.text {
    list-style: none;
}

input {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 30px;

}
}